@charset "UTF-8";
:root {
  --white: #fff;
  --black: #000;
  --main-green: #56c595;
  --sub-yellow-green: #8abe53;
  --gray: #aeaeae;
  --gray-dark: #6c6c6c;
  --gray-light: #f1f1f1;
  --red: #cd3e3e;
  --yellow: #ffc700;
  --alarm-before: #fff6f4;
  --alarm: #ffb179;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

html {
  font-size: 10px;
}

#app {
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
}

.page-wrapper {
  width: 100%;
  height: 100%;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
}

.header {
  width: 100%;
  height: 4.4rem;
}

.header .ttl {
  font-size: 1.4rem;
}

.contents-container {
  width: 100%;
  height: calc(100% - 4.4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contents-top-wrapper {
  flex: 1;
  width: 100%;
  background-color: #d3dfd3;
  overflow: auto;
}

.contents-top-wrapper ul li {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.contents-bottom-wrapper {
  width: 100%;
  padding: 13px;
}

.custom-inp {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--gray_light, #F1F1F1);
  padding: 0 1.5rem;
  height: 4.5rem;
  outline: none;
  background-color: white;
}

.custom-inp:focus {
  border-color: var(--gray, #aeaeae);
}

.custom-inp::placeholder {
  color: var(--gray, #AEAEAE);
  font-size: 1.4rem;
  font-weight: 300;
}

/* iPhone XR : 1792x828px at 326ppi */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .contents-bottom-wrapper {
    padding-bottom: 4rem;
  }
}
/* iPhone XS : 2436x1125px at 458ppi */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .contents-bottom-wrapper {
    padding-bottom: 4rem;
  }
}
/* iPhone XS Max : 2688x1242px at 458ppi */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .contents-bottom-wrapper {
    padding-bottom: 4rem;
  }
}
#guide-page {
  background-color: #CFD7CF;
  padding: 100px 0;
}

#guide-page .list-gtbl {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
  margin-bottom: 20px;
}

#guide-page .list-gtbl:last-child {
  margin-bottom: 0;
}

#guide-page .list-gtbl > h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 13px;
}

#guide-page .gtbl {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #a3a3a3;
}

#guide-page .gtbl-head {
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
}

#guide-page .gtbl-head .cell {
  color: #555;
  font-weight: 600;
}

#guide-page .gtbl-body .list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 0;
  border-bottom: 1px solid #eaeaea;
  color: #333;
}

#guide-page .gtbl-body .list:last-child {
  border-bottom: 0;
}

#guide-page .gtbl-body .list a {
  text-decoration: underline;
  color: var(--sub-yellow-green, #8abe53);
}

#guide-page .gtbl-head .cell,
#guide-page .gtbl-body .list .cell {
  width: 100%;
  font-size: 14px;
  padding: 0 10px;
}

#guide-page .badge {
  padding: 3px 8px;
  font-size: 10px;
  border-radius: 30px;
  font-weight: 500;
}

#guide-page .badge.green {
  background-color: #daf3e8;
  color: var(--main-green, #56c595);
}

#guide-page .badge.blue {
  background-color: #d0ebff;
  color: #54a4e0;
}